@import "./base/_fonts.scss";

@import "./utilities/_variables.scss";
@import "./utilities/mixins";
@import "./utilities/functions";

@import "./components/_buttons.scss";

@import "./layout/index.scss";

@import "./pages/index.scss";

body {
  @include fO;
  background-color: $dark--body-bg;
  color: $dark--color;
  font-size: 16px;
}
