@import url("./base/_reset.scss");

@import url("./components/_buttons.scss");

@import url("./layout/main/index.scss");
@import url("./layout/main/mainForm.scss");
@import url("./layout/main/blog.scss");
@import url("./layout/study/index.scss");

body {
  background-color: $dark--body-bg;
  color: $dark--color;
  font-family: "Open-Sans", sans-serif;
  font-size: 16px;
}

.current {
  background-color: $dark--body-bg;
  color: $primary-color;
  font-weight: 700;

  &::after,
  &::before {
    opacity: 1;
  }
}
