.reports-analysis {
  &__title {
    margin-bottom: 100px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 110px;
  }
}
.analysis-report {
  &__block {
    display: flex;
    align-items: center;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 15px;
  }

  &__image {
    padding: 0 84px 50px 65px;
    margin-top: -100px;
  }

  &__contant {
    padding: 45px 56px 50px 0;
  }
}
.report-contant {
  h4 {
    margin-bottom: 24px;
  }
  p {
    font-size: 20px;
    margin-bottom: 25px;
    line-height: 27px;
  }
}
//========================= Last Reports.vue ===========================
.recent-reports {
  &__title {
    margin-bottom: 70px;
  }

  &__body {
    display: flex;
    align-items: flex-start;
  }
}

.body-reports {
  &__filter {
    background: #232323;
    box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.14);
    border-radius: 30px;
    padding: 40px 34px;
    min-height: 500px;
    width: 250px;
    margin-right: 85px;
  }

  &__catalog {
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: 100%;
  }
}

.reports-catalog {
  &__block {
    padding: 0px 0px 45px 0px;
    border-bottom: 1px solid $border-color;
    h4 {
      margin-bottom: 15px;
    }
    span {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: rgba(255, 255, 255, 0.2);
    }
    p {
      margin: 27px 0 40px 0;
    }
  }

  &__btn {
    background: none;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.14));
    border-radius: 8px;
    box-shadow: none;
    @media (any-hover: hover) {
      &:hover {
        background-color: $primary-color;
        color: #000;
      }
    }
    color: white;
  }


  &__button {
  }

  &__categories {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__category {
    margin-right: 10px;
    margin-bottom: 15px;
    background-color: #444444;
    padding: 10px 20px;
    border-radius: 30px;
    text-align: center;
    font-size: 10px;
    color: #c4c4c4;
  }

}

.filter-reports {
  &__items {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.radio {
  &__input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
  }

  &__label {
    padding-left: 25px;
    color: $gray--filter;
    cursor: pointer;
    display: flex;

    & span {
      display: block;
    }

    &::before {
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      border: 1px solid $primary-color;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      transition: border 0.1s linear;
    }
    &::after {
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      background-color: $primary-color;
      border-radius: 50%;
      opacity: 0;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 2;
      transition: opacity 0.1s linear;
    }
  }
}

.radio__input:checked + .radio__label:before {
  border-color: $primary-color;
}

.radio__input:checked + .radio__label:after {
  opacity: 1;
}

.category-filter__checkbox,
.country-filter__input {
  color: $gray--filter;
  font-size: 14px;
  line-height: 17px;
  position: relative;
  &:not(:last-child) {
    padding-bottom: 10px;
  }
}

.country-filter,
.category-filter {
  &__header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      color: white;
      font-weight: 300;
      font-size: 10px;
      line-height: 12px;
      text-decoration-line: underline;
      margin-left: 20px;
      opacity: 0.6;
      cursor: pointer;
    }
  }
}

.checkbox {
  &__input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
  }

  &__label {
    padding-left: 25px;
    color: $gray--filter;
    cursor: pointer;
    display: flex;

    & span {
      display: block;
    }

    &::before {
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      border: 1px solid $primary-color;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    &::after {
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      opacity: 0;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 2;
      transition: opacity 0.1s linear;
    }
  }
}

.checkbox__input:checked + .checkbox__label:before {
  background-color: $primary-color;
}

.checkbox__input:checked + .checkbox__label:after {
  opacity: 1;
}
