.study {
  &__content {
  }

  &__title {
    margin-bottom: 70px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 125px;
  }

  &__btn {
    padding: 22px 190px;
    font-weight: 700;
  }
}
.info-study {
  &__contant {
    display: flex;
    gap: 75px;
    align-items: center;
    p {
      font-size: 20px;
      line-height: 27px;

      color: #dcdcdc;
    }
  }

  &__image {
  }

  &__text {
  }
}
