@import "./blog/index.scss";
@import "./home/index.scss";
@import "./blogTemplate/index.scss";
@import "./study/index.scss";
@import "./reports/index.scss";
@import "./news/index.scss";

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: "Montserrat";
}

h1 {
  font-size: 56px;
  color: $primary-color;
  line-height: 68px;
  font-weight: bold;
  @media (max-width: 992px) {
    font-size: 45px;
    line-height: 57px;
  }
  @media (max-width: 767px) {
    font-size: 35px;
    line-height: 47px;
  }
  @media (max-width: 480px) {
    font-size: 30px;
    line-height: 40px;
  }
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  @media (max-width: 992px) {
    font-size: 30px;
    line-height: 38px;
  }
  @media (max-width: 480px) {
    font-size: 25px;
    line-height: 33px;
  }
}

h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #fff;
  margin-bottom: 25px;
  margin-top: 25px;
  @media (max-width: 480px) {
    font-size: 23px;
    line-height: 30px;
  }
}

h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  @media (max-width: 480px) {
    font-size: 20px;
    line-height: 25px;
  }
}

li {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  font-size: 18px;
}

a {
  text-decoration: none;
}

p {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin: 0px 0px 5px 0px;
  @media (max-width: 480px) {
    font-size: 16px;
    line-height: 20px;
  }
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
  margin: 10px auto;
}
