.blog {
  &__title {
    font-size: 56px;
    color: #ffa500;
    line-height: 58px;
    font-weight: bold;
    margin-bottom: 100px;
    @media (max-width: 992px) {
      font-size: 45px;
      line-height: 47px;
    }
    @media (max-width: 767px) {
      font-size: 35px;
      line-height: 37px;
    }
  }

  &__products {
    display: grid;
<<<<<<< HEAD:src/assets/scss/pages/blog/index.scss
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 40px;
=======
    column-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
>>>>>>> parent of f753d7b (initial np):src/assets/scss/layout/main/blog.scss
    margin-bottom: 50px;
  }

  &__button {
  }
}
.product {
  &__item {
    padding: 20px 30px 40px 20px;
    border-bottom: 1px solid #444444;
  }
}
.item-product {
  &__title {
    @include fM;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    margin: 0 0 5px 0;
    @media (max-width: 992px) {
      font-size: 20px;
      line-height: 25px;
    }
  }

  &__date {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.2);
    margin-bottom: 30px;
  }

  &__btn {
<<<<<<< HEAD:src/assets/scss/pages/blog/index.scss
    display: inline-flex;
    transition: all 200ms ease;
    
    & img {
      margin-left: 12px;
    }
=======
>>>>>>> parent of f753d7b (initial np):src/assets/scss/layout/main/blog.scss
  }
}
