.footer {
  background-color: $footer-color;
  &__container {
    max-width: 1410px;
    width: 95%;
    margin: 0 auto;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 70px;
    gap: 30px;
    @media (max-width: 992px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    gap: 125px;
    @media (max-width: 768px) {
      gap: 50px;
    }
    @media (max-width: 500px) {
      justify-content: space-evenly;
    }
  }
  &__logo {
    img {
      margin: 0;
    }
  }
}

.menu-footer {
  border-bottom: 1px solid $border-color;
  padding-bottom: 55px;
  &__list {
    padding: 0;
    margin: 25px 0 0 0;
    li {
      list-style: none;
      li:not(:last-child) {
        margin-bottom: 10px;
      }
      a {
        &.current {
          @media (max-width: 768px) {
            background-color: inherit;
            font-weight: 500;
            color: $primary-color;
          }
        }
      }
    }
    @media (max-width: 480px) {
      margin: 15px 0 0 0;
    }
  }

  &__link {
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__title,
  &__link {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
  }

  &__title {
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
  }
}

.information-block {
  &__footer {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    gap: 5px;
    flex-wrap: wrap;
    @media (max-width: 768px) {
      padding: 30px;
    }
    @media (max-width: 480px) {
      justify-content: center;
      gap: 25px;
    }
  }
}

.seti {
  display: flex;
  gap: 5px;
}

.footer-info {
  &__rules {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  &__link {
    @include fM;
    font-weight: 200;
    font-size: 13px;
    line-height: 16px;
    color: #ffffff;
    cursor: pointer;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
