.sending {
  &__form {
    background: #232323;
    padding: 50px 0;
    border-top: 1px solid $border-color;

    &-success {
      text-align: center;

      & img {
        width: 100%;
        max-width: 150px;
      }
    }
  }
}

.form-sending {
  &__container {
    max-width: 850px;
    width: 95%;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    font-weight: 600;
    @include fM;
    color: #ffffff;
    margin-bottom: 30px;
    @media (max-width: 768px) {
      font-size: 38px;
      line-height: 49px;
    }
    @media (max-width: 480px) {
      font-size: 28px;
      line-height: 39px;
    }
  }

  &__input {
    background: #232323;
    padding: 4px 0 18px 19px;
    color: #fff;
    border: none;
    border-bottom: 1px solid #ffffff;
    transition: border-bottom 0.3s ease 0s;
    font-size: 25px;
    @media (max-width: 768px) {
      grid-column: span 2;
      padding-top: 20px;
    }

    @media (max-width: 480px) {
      font-size: 20px;
    }
    &:focus {
      outline: none;
      border-bottom: 1px solid $primary-color;
    }
    &::placeholder {
      font-weight: 200;
    }
  }

  &__message {
    grid-column: span 2;
    padding-top: 25px;
  }
}

.sending-inputs {
  &__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    padding-bottom: 10px;
  }

  &__btn {
    padding: 14px 42px;
    align-items: center;
    display: flex;
    margin: 45px auto 0 auto;
  }

  &__error {
    margin-top: 30px;
    background-color: #ffa4a4;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 12px;
    color: black;

    & p {
      margin: 0;
    }
  }
}
