.blog-template {
  &__title {
    text-decoration-line: underline;
    color: $primary-color;
    display: flex;
    gap: 45px;
    text-decoration: none;
    margin-bottom: 100px;
    @media (max-width: 480px) {
      gap: 20px;
      h1 {
        font-size: 30px;
        line-height: 42px;
      }
    }
    img {
      max-width: none;
      margin: 0;
    }
  }

  &__subtitle {
    margin-bottom: 60px;
  }
}
.template-blog {
  &__content {
    max-width: 521px;
    width: 95%;
  }

  & img {
    margin-bottom: 35px;
  }
}
.blog-content {
  display: flex;
  flex-direction: column;
  gap: 65px;
  margin-top: 65px;
  &__block {
    ul {
      padding: 0;
      margin: 15px 0 0 0;
    }
    h4 {
      margin: 10px 0;
    }
    p {
      font-size: 20px;
      line-height: 25px;
      @media (max-width: 480px) {
        font-size: 16px;
        line-height: 21px;
      }
      margin-bottom: 15px;
    }
  }
}
