.blog {
  &__title {
    margin-bottom: 100px;
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 40px;
    margin-bottom: 50px;
  }

  &__line {
    position: relative;

    &::after {
      content: "";
      width: 1px;
      height: 100%;
      background-color: $border-color;
      position: absolute;
      top: 0;
      right: 50%;
    }
  }
}

.product {
  &__item {
    padding: 20px 30px 40px 20px;
    border-bottom: 1px solid $border-color;
  }
}
.item-product {
  &__title {
    @include fM;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    margin: 0 0 5px 0;
    @media (max-width: 992px) {
      font-size: 20px;
      line-height: 25px;
    }
  }

  &__date {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.2);
    margin-bottom: 30px;
  }

  &__btn {
    display: inline-flex;
    transition: all 200ms ease;

    & img {
      margin-left: 12px;
    }
  }
}
